@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="alert alert-secondary">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="htmleditor">
                            HTML Editor
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="col">@Body</div>
        </div>
    </div>
</main>
